# Godot
.godot/
.import/

# Builds / exports
builds/
android/build/
android/.gradle/
android/export/

# Packages
*.aar
*.apk
*.aab

# Temp files
*.tmp

# Archives
*.zip

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db